@charset "UTF-8";
/** Best Practice Styles
 * ------ Header
 */

header {
  background-color: #ffffff;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: 20px 50%;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
