@charset "UTF-8";
/** Best Practice Styles
 * ----- Footer
 */

footer {
  background: #ffffff;
  height: 60px;
  line-height: 60px;
  width: 100%;
  bottom: 0px;
  position: relative;
  text-align: center;
  border-top: 1px solid #cccccc;
}
