@charset "UTF-8";
/** Best Practice Styles
 * ----- Footer
 */

footer {
  background-color: #00ff00;
  height: 60px;
  line-height: 60px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  text-align: center;
}
